@{
    ViewData["Title"] = "ContactSuccess";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}



<div class="card" style="text-align:center">
    <article class="p-4 p-xl-5 text-center">
        <h1>Bạn đã gửi liên hệ thành công</h1>
        <img src="~/images/avatar1.jpg" class="img-avatar img-md">
        <h6 class="card-title mt-3">Chăm sóc khách hàng</h6>
        <p>
            Tổng đài: 19000000 <br>
            Email: support@mywebsite.com
        </p>
        <a href="/" class="btn btn-warning"> Quay về trang liên hệ </a>
        <a href="#" class="btn btn-success"> Thực hiện cuộc gọi </a>
    </article>
</div>


