@using Contact.Domain.PostViewModel
@model PostContactCustomerVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@section Scripts{

    <script src="~/js/homeController.js"></script>

}
    @addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

    <div id="alert">

    </div>

    <form asp-action="Index" asp-controller="Home" enctype="multipart/form-data" method="post" id="frmSaveData">
        <div asp-validation-summary="All" class="text-danger">
        </div>
        <h2>Trang liên hệ</h2>
        <div class="form-group">
            <label>Họ tên</label>
            <input type="text" asp-for="Name" value="@Model.Name" class="form-control" id="txtName" placeholder="Nhập vào họ tên" required>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Số điện thoại</label>
            <input type="tel" asp-for="Phone" value="@Model.Phone" class="form-control" id="txtPhone" placeholder="Nhập vào số điện thoại" required>
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" asp-for="Email" value="@Model.Email" class="form-control" id="txtEmail" placeholder="Nhập vào email" required>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Nội dung</label>
            <textarea class="form-control" asp-for="Content" id="txtContent" rows="3" placeholder="Nhập vào nội dung liên hệ" required></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <button id="btnsubmit" type="submit" class="btn btn-primary" >Gửi đi</button>
    </form>




